*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('../public/landingPageFrame.jpg');
    background-size: cover;
    background-position: center;
}

nav{
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 36px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover{
    color: white;
}

#userInformationSectionLandingPage{
    height: 36px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 30px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    
    
}

#landPageMainDisplay{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 50%;

    margin-top: 75px;
}

#landPageMainDisplay img{
    position: absolute;
    left: 50%;
    height: 524px;
    width: auto;
}

#landingPageCoffeePicBack{
    transform: translateX(-35%) rotate(23deg);
}

#landingPageCoffeePicFront{
    top: 110px;
    transform: scaleX(-1) translateX(70%) rotate(34deg);
}