@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

video{
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 1;

}

header{

    width: 100%;
    height: 100vh;
    

}



nav{
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 36px;
}

nav, #userInformationSectionLandingPage{
    position: relative;
    z-index: 2;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

a:hover{
    color: rgb(126, 124, 124);
}

#userInformationSectionLandingPage{
    height: 36px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 40px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    
    
}

#landPageMainDisplay{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 50%;

    margin-top: 75px;
}


header h1{
    color: white;
    font-weight: 500;
    font-size: 100px;
    
}

#designLineLandingPage{
    width: 40vw;
    max-width: 350px;
    height: 12px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;

}

#landPageMainDisplay h1, #landPageMainDisplay div, #landPageMainDisplay p, #startOrderingBtn{
    z-index: 20;
}

#introductionContainer{   /*This moves the introduction section up down left right*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%); 
}

#introductionContainer p{
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 600;
    color: white;
}

#introductionContainer button{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: #b3b49c;
    color: black;
    font-size: 18px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

#introductionContainer button:hover{
    background-color: #9b9c87;
    font-size: 19px;
}