@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



header{

    width: 99vw;
    height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    

}


video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 1;

}

nav{
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 36px;
}

nav, #userInformationSectionLandingPage{
    position: relative;
    z-index: 2;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

a:hover{
    color: rgb(126, 124, 124);
}

#userInformationSectionLandingPage{
    height: 36px;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 50px;
    position: absolute;
    top: 25px;
    text-decoration: none; 
}

#landPageMainDisplay{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 50%;

    margin-top: 75px;
}


header h1{
    color: white;
    font-weight: 500;
    font-size: 100px;
    
}

#designLineLandingPage{
    width: 40vw;
    max-width: 350px;
    height: 12px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;

}

#landPageMainDisplay h1, #landPageMainDisplay div, #landPageMainDisplay p, #startOrderingBtn{
    z-index: 20;
}

#introductionContainer{   /*This moves the introduction section up down left right*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%); 
}

#introductionContainer p{
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 600;
    color: white;
}

#introductionContainer button{
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: #b3b49c;
    color: black;
    font-size: 18px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

#introductionContainer button:hover{
    background-color: #9b9c87;
    font-size: 19px;
}




/*DRINK PAGE FROM HERE ON*/

#drinkPage, #foodPage{
    width: 99vw;
    height: 100vh;
    background-image: url('../public/coffeeShopImg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#drinkPage h2, #foodPage h2{
    
    font-size: 50px;
    color: white;
    
}

#drinksMenu, #foodMenu{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 70vh;
    
  
}


.drinksItem{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(155, 156, 135, 0.81);
    border-radius: 15px;
    transition: 0.2s;
    overflow: hidden;
    
}

.drinksItem:hover{
    background-color: rgba(155, 156, 135, 0.90);
}


.drinksItem img{
    height: 50%;
    width: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    
}

.drinksItem h3{
    color: white;
}


.orderingSection{

    margin-top: 15px;
    margin-bottom: 15px;
    height: 10%;
    width: 70%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.drinksItem p{
    
    width: 70%;
    font-size: 13px;
    color: white;
    font-weight: 600;
}

/*Button Design for Food/Drinks */

.orderingSection button{
    height: 60%;
    border: none;
    background-color: white;
    width: 30%;
    transition: 0.2s;
    font-weight: 600;
    overflow-x: visible;
}


.orderingSection button:first-child{
    border-radius: 5px;
}

.orderingSection button:first-child:hover{
    background-color: #9b9c87;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.orderingSection button:nth-child(2){
    border-radius: 5px;
}

.orderingSection button:nth-child(2):hover{
    background-color: #9b9c87;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.orderingSection button:nth-child(3){
    width: 35%;
}


.orderingSection button:hover{
    transform: scale(0.90); 
    background-color: #9b9c87;
    border-radius: 15px 10px 10px;
    color: white;
}


/*FOOD ITEM CSS*/

.foodItemImage{
    width: 70%;
    transition: 0.2s;

}

.foodItemImage:hover{
    transform: scale(1.05);
    padding-bottom: 10px;
}


/*Cart Page CSS from Here On*/

#cartPage{
    width: 99vw;
    height: 100vh;
    background-image: url('../public/coffeeShopImg.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}


