# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
dist-ssr/
client/dist/
server/dist/

# Lock files
package-lock.json
client/package-lock.json
server/package-lock.json

# Local environment files
*.local

# OS files
.DS_Store

# IDE / Editor settings
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
